body{
    background-image: url('Pictures/BackgroundImage.png');
    color:white;
    background-position: center top;
}
@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
  }
  @font-face {
    font-family: PoppinsLight;
    src: url(Poppins-Light.ttf);
  }
  @font-face {
    font-family: PoppinsThin;
    src: url(Poppins-Thin.ttf);
  }
.navbar{
    background-color: rgba(0, 0, 0, 0.503);
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding:20px;
    margin-top: -10px;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.503);
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding:20px;
    margin-top: -10px;
}
.navelement{
    color:white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 0px 50px 0px;
}
.maintitleText{
    font-family: PoppinsLight, Arial, Helvetica, sans-serif;
    font-size:6em;
    display: flex;

}
.backwards{
  display: flex;
  justify-content:center ;
  font-size: 6em;
  transform: rotateX(180deg);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -130px;
  font-family: Poppinslight,Arial, Helvetica, sans-serif;
}
.subtitleText{
    font-family: PoppinsThin, Arial, Helvetica, sans-serif;
    font-size:4em;
    display: flex;
}
.profile{
    display:flex;
    justify-content:center;
    border-radius: 50%;
    width:65%;
   }
.picture{
  display: flex;
  flex-direction: row;
}


@media only screen
and (max-device-width : 600px){ 
   #homebutton{
    display:none;
   }
   .maintitleText{
    justify-content: center;
   }
   .subtitleText{
    justify-content: center;
    text-align:center; 
    margin-top: -60px;;
   }
   .profile{
    justify-content:center;
    align-content:center;
   }
   .picture{
    justify-content: center; 
    margin:50px;
  }
  .navbar{
    display: none;
  }
  .smallHomeNav{
    width: 75vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align: center;
    height: 10vh;
    font-size: 2em;
  }
  .smallHomeContainer{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;

  }
}

@media only screen
and (min-device-width : 600px)
and (max-device-width : 1400px)  { 
    
}