body{
    background-image: url('Pictures/BackgroundImage.png');
    color:white;
}
@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
  }
.navbar{
    background-color: rgba(0, 0, 0, 0.503);
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding:20px;
    margin-top: -10px;
}
.navelement{
    color:white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 0px 50px 0px;
}
.maintitletext{
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size:6em;
    display: flex;

}

@media only screen
and (max-device-width : 600px){ 
   #homebutton{
    display:none;
   }
   .maintitletext{
    justify-content: center;
   }
}

@media only screen
and (min-device-width : 600px)
and (max-device-width : 1400px)  { 
    
}