body{
    background-image: url('Pictures/BackgroundImage.png');
    color:white;
    background-position: center top;
    background-attachment: fixed;
}
@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
  }
  @font-face {
    font-family: PoppinsLight;
    src: url(Poppins-Light.ttf);
  }
  @font-face {
    font-family: PoppinsThin;
    src: url(Poppins-Thin.ttf);
  }
.navbar{
    background-color: rgba(0, 0, 0, 0.503);
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding:20px;
    margin-top: -10px;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.503);
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding:20px;
    margin-top: -10px;
}
.navbarSecondary{
  background-color: rgba(0, 0, 0, 0.503);
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.navelement{
    font-family: PoppinsLight, Arial, Helvetica, sans-serif;
}
.maintitleText{
    font-family: PoppinsLight, Arial, Helvetica, sans-serif;
    font-size:6em;
    display: flex;

}
.backwards{
  display: flex;
  justify-content:center ;
  font-size: 6em;
  transform: rotateX(180deg);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -130px;
  font-family: Poppinslight,Arial, Helvetica, sans-serif;
}
.blackbackwards{
  display: flex;
  justify-content:center ;
  font-size: 3em;
  transform: rotateX(180deg);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -120px;
  font-family: Poppinslight,Arial, Helvetica, sans-serif;
}
.subtitleText{
    font-family: PoppinsThin, Arial, Helvetica, sans-serif;
    font-size:4em;
    display: flex;
}
.profile{
    display:flex;
    justify-content:center;
    border-radius: 50%;
    width:65%;
   }
.picture{
  display: flex;
  flex-direction: row;
}
.pagetitles{

}
.aboutmebackground{
  background-image: url(SmallPictures/AboutMePicture.jpg);
  background-size: cover;
}
#aboutmetitle{
  display: flex;
  justify-content:center ;
  font-size: 3em;
  color:#27272a;
  font-family: PoppinsLight, Arial, Helvetica, sans-serif;
}
.uxcontainer{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.uxprojects{
  width: 100vw;
  margin: 2em;
}
.animation{
  width:100vw;
  margin:2em;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen
and (max-device-width : 600px){ 
   #homebutton{
    display:none;
   }
   .maintitleText{
    justify-content: center;
   }
   .subtitleText{
    justify-content: center;
    text-align:center; 
    margin-top: -60px;;
   }
   .profile{
    justify-content:center;
    align-content:center;
   }
   .picture{
    justify-content: center; 
    margin:50px;
  }
  .navbar{
    display: none;
  }
  .smallHomeNav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width:70vw;
    margin:20px;
    font-size: 3em;
    color:white;
    font-family: PoppinsLight, Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.503);

  }
  .smallHomeContainer{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;

  }
  .pagetitles{
    font-size: 3em;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
}
.graphicdesigncontainer{
  display: flex;
  flex-direction:column;
  align-content: center;
  justify-items: center;
}
.navbarSecondary{
  background-color: rgba(0, 0, 0, 0.503);
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding:20px;
  margin-top: -10px;
}
.navelement{
    font-family: PoppinsLight, Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    margin: 0px 30px 0px;
    /*display: flex;
    justify-content: center;*/
}
.smallline{
  background-color: white;
    width:100vw;
    height:3px;
}
.logos{
  margin:10px;
}
.posters{
  margin:10px;
}
#postertitle{
  margin-top: 200px;
}
.aboutmetext{
  font-size:1em;
  display: inline-block;
  flex-direction: column;
  align-content: flex-end;
  font-family: 'Codec';
  line-height: 1.5em;
  text-indent: 10%;
}
.aboutmecontainer{
  background-color:rgba(39, 39, 42, .7);
  padding:2em;  
  margin:1em;
  display:flex;
  flex-direction: column;
  justify-content:end;
  align-self: flex-end;
  justify-items: flex-end;
  margin-top: 825px;
}
}


@media only screen
and (min-device-width : 600px)
and (max-device-width : 1400px)  { 
    .smallHomeNav{
      display:none;
    }
}
@media only screen
and (min-device-width : 1400px)  { 
    .smallHomeNav{
      display:none;
    }
    .profile{
      display:flex;
      flex-direction: row;
      justify-content: center;
      border-radius: 50%;
      width:30vw;
     }
     .picture{
      justify-content: flex-end; 
      align-content: baseline;
      margin:50px;
      text-align: justify;
    }
    .titleContainer{
      display: flex;
      flex-direction: column;
    }
    .navbarSecondary{
      background-color: rgba(0, 0, 0, 0.503);
      display: flex;
      flex-direction: row;
      justify-content: end;
      padding:20px;
      margin-top: -10px;
      width: 100vw;
    }
    .navelement{
      font-family: PoppinsLight, Arial, Helvetica, sans-serif;
      font-size:2.5em;
      margin: 0px 40px 0px;
      color:white;
      text-decoration: none;
      /*display: flex;
      justify-content: center;*/
  }
  .aboutmebackground{
    background-image: url(Pictures/AboutMeBig.JPG);
    background-size: cover;
    background-attachment:scroll;
  }
  #aboutmetitle{
    
    font-size: 3em;
    color:#27272a;
    margin-top:-50px;
    font-family: PoppinsLight, Arial, Helvetica, sans-serif;
  }
  .blackbackwards{
    display: flex;
    justify-content:center ;
    font-size: 3em;
    transform: rotateX(180deg);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -170px;
    font-family: Poppinslight,Arial, Helvetica, sans-serif;
  }
  .aboutmetext{
    font-size:1em;
    display: inline-block;
    flex-direction: column;
    align-content: flex-end;
    font-family: PoppinsLight, Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    text-indent: 10%;
  }
  .aboutmecontainer{
    background-color:rgba(39, 39, 42, .7);
    padding:2em;  
    margin:1em;
    display:flex;
    flex-direction: column;
    justify-content:end;
    align-self: flex-end;
    justify-items: flex-end;
    margin-top: 600px;
  }
  .smallline{
    height:4px;
    width:60vw;
    background-color:white;
  }
  .pagetitles{
    display: flex;
    justify-content: center;
  }
  .animation{
    width:65vw;
  }
  .uxprojects{
    width:65vw;
  }
}